.resume {
    width: 100%;
    height: 100%;
}

.resume nav {
    position: relative;
    width: 100%;
}

.resumeNav {
    color: rgb(0, 145, 194);
    text-decoration: underline;
}

.resume nav h2 {
    font-size: 36px;
    text-align: center;
}
.resume nav p {
    text-align: center;
    font-size: 22px;
    margin-top: 12px;
}
.resume iframe {
    width: 100%;
    height: 100%;
}