.site-cube {
    width: 100%;
    height: 100%;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    transform-style: preserve-3d;
}

.cube-face {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* Cube face positions */
.cube-face-back   { background: hsla(120, 100%, 50%); }
.cube-face-left   { background: teal; }
.cube-face-top    { background: hsla(240, 100%, 50%) transparent; }

.cube-face-front  { transform: rotateY(  0deg) translateZ(49.5vw); }
.cube-face-right  { transform: rotateY( 90deg) translateZ(49.5vw); }
.cube-face-back   { transform: rotateY(180deg) translateZ(49.5vw); }
.cube-face-left   { transform: rotateY(-90deg) translateZ(49.5vw); }
.cube-face-top    { transform: rotateX( 90deg) translateZ(49.5vh); }
.cube-face-bottom { transform: rotateX(-90deg) translateZ(49.5vh); }
/*  End cube face positions */

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

nav {
    text-align: right;
    margin: 20px 30px;
}

nav i {
    font-size: 30px;
    cursor: pointer;
}

.relative {
    position: relative;
}
.absolute-i {
    position: absolute;
    top: 0;
    right: 0;
}

/* Style for showing cube faces with animations */
.cube.show-front  {
    transform: rotateY(  0deg); 
    animation: rotateFront 1s linear;
}
.cube.show-right  { 
    transform: rotateY( -90deg); 
    animation: rotateRight 1s linear;
}
.cube.show-back   { transform: rotateY(-180deg); }
.cube.show-left   { 
    animation: rotateLeft 1s linear;
    transform: rotateY(  90deg);
 }
.cube.show-top    { transform: rotateX( -90deg); }
.cube.show-bottom { 
    animation: rotateBottom 1s linear;
    transform: rotateX(  90deg) ; 
}
/* keyframes for rotation cube */
@keyframes rotateBottom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8) rotateX(45deg) rotateY(20deg);
    }
    100% {
        transform: scale(1) rotateX(90deg) rotateY(0deg);
    }
}
@keyframes rotateFront {
    0% {
        transform: scale(1) rotateX(90deg) rotateY(0deg);
    }
    50% {
        transform: scale(0.8) rotateX(45deg) rotateY(20deg);
    }
    100% {
        transform: scale(1) rotateX(0deg) rotateY(0deg);
    }
}
@keyframes rotateLeft {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8) rotateX(45deg) rotateY(45deg);
    }
    100% {
        transform: scale(1) rotateX(0deg) rotateY(90deg);
    }
}
@keyframes rotateRight {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8) rotateX(45deg) rotateY(-45deg);
    }
    100% {
        transform: scale(1) rotateX(0deg) rotateY(-90deg);
    }
}
/* End Style for showing cube faces with animations  */

/* slide in and out animations */
/* Slide animations for height of navBar page */
.slideIn {
    animation: slideIn 0.7s linear;
    -webkit-animation: slideIn 0.7s linear;
    -moz-animation: slideIn 0.7s linear;
    -ms-animation: slideIn 0.7s linear;
}
@keyframes slideIn {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}
@-webkit-keyframes slideIn {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}
@-moz-keyframes slideIn {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}
@-ms-keyframes slideIn {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}
.slideOut {
    animation: slideOut 0.7s linear;
    -webkit-animation: slideOut 0.7s linear;
    -moz-animation: slideOut 0.7s linear;
    -ms-animation: slideOut 0.7s linear;
}
@keyframes slideOut {
    0% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}
@-webkit-keyframes slideOut {
    0% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}
@-moz-keyframes slideOut {
    0% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}
@-ms-keyframes slideOut {
    0% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

/* End slide in and out animations */
/* Media queries */
@media only screen and (max-width: 1000px) {
    .portfolio .card {
        display: block;
        width: 95% !important;
        margin-top: 20px !important;
    }
    .portfolio .card:first-child {
        padding-top: 25px !important;
    }
    .portfolio .card:last-child .card-body{
        padding-bottom: 30px !important;
        margin-bottom: 30px !important;
    }
}

@media only screen and (min-width: 1600px) {
    .portfolio .card .card-header {
        font-size: 26px;
    }
    .portfolio .card .card-body{
        height: 600px;
    }
}

@media only screen and (max-width: 900px) {
    #aboutMeFlex {display: block;}
    .cube-face-left .selfie,
    .cube-face-left .info {
        width: 100% !important;
        height: initial !important;
    }
    .cube-face-left .selfie {
        display: flex;
        justify-content: center;
    }
    .cube-face-left .selfie img {max-width: 600px !important;}
    .cube-face-left .info {
        position: relative !important;
        padding: 38px 10px !important;
    }

    .cube .cube-face-left .info h3 {
        font-size: 26px !important;
        margin-bottom: 10px !important;
    }
    .cube .cube-face-left .info p {font-size: 18px !important;}
    /* Carrot leading to hobbies section on smaller screens */
    .cube-face-left .info::before,
    .cube-face-left .info::after {
        content: "";
        width: 75px !important;
        height: 30px !important;
        background: rgb(0, 0, 92);
        position: absolute;
        bottom: -0.7em !important;
        z-index: 2;
    }
    .cube-face-left .info::before {
        right: 50%;
        transform: skew(0, 20deg);
    }
    .cube-face-left .info::after {
        left: 50%;
        transform: skew(0, -20deg);
    }
}

@media only screen and (max-width: 700px) {
    .cube-face-left .hobbies ul {
        flex-direction: column;
        align-items: center;
    }
    .cube-face-left .hobbies ul li {
        width: 150px !important;
        height: 150px !important;
    }
    .cube-face-left .hobbies ul li i {font-size: 70px !important;}
    .cube-face-left .hobbies ul li::after {
        width: 4px;
        height: 75px;
        left: 73px;
        bottom: -75px;
    }

    .project-descriptions #projectTitle {
        font-size: 22px;
    }
    .project-descriptions .project-description-container {
        font-size: 18px;
        padding: 0 12px;
    }
}